@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap");

:root {
  --background-color: #101427;
  --color: #e2e2e2;
  --button-color: rgb(97, 106, 148);
  --button-background: rgb(22, 26, 49);

  /* Typewriter Animation parameters */
  --animation-bg-color: #101427;
  --typewriterSpeed: 6s;
  --typewriterCharacters: 20;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--color);
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.error-loading {
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color);
  font-size: 0.8em;
  font-style: italic;
  margin: 0;
  padding: 0;
}
